body{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 150%;
}
header{
  background-color: rgb(255, 245, 204);
}
nav{
  background-color: rgb(196, 208, 255);
}
main{
  background-color: rgb(255, 250, 240);
  font-size: 150%;
}
footer{
  background-color: antiquewhite;
}
li{
  display: inline;
  width: auto;
}
h1{
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  color: rgb(12, 76, 3);
}
p{
  line-height: 150%;
}